body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    transform-style: preserve-3d;
    perspective: 100px;
    perspective-origin: left;
    border: 3px solid black;
}
.d{
    width: 200px;
    height: 200px;
    background-color: blue;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    /* transform: rotatex(10deg); */
    color: white;
    text-align: justify;
    transform-origin: left;
    transition: transform 3s linear;
}
.d:hover{
     transform: rotateY(180deg);
}
.d1{
    width: 200px;
    height: 200px;
    background-color: blue;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    /* transform: rotatex(10deg); */
    color: white;
    text-align: justify;
    transform-origin: right;
    transition: transform 3s linear;
}
.d1:hover{
     transform: rotateY(180deg);
}
/* .parent1{
    transform-style: preserve-3d;
    perspective: 100px;
    perspective-origin: right;
    border: 3px solid black;
}
.d1{
    width: 200px;
    height: 200px;
    background-color: blue;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    /* transform: rotatex(10deg); */
    /* color: white;
    text-align: justify;
    /* transform-origin: 100px 100px; */
    /* transition: transform 3s linear;
}
.d1:hover{
     transform: rotateY(180deg);
} */ 