body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grand{
    perspective: 1000px;
}
.parent{
    width: 300px;
    height: 500px;
    transition: transform 1s linear;
    transform-style: preserve-3d;
    position: relative;
}
.parent:hover{
    transform: rotatey(180deg);
}
.front{
    width: 300px;
    height: 500px;
    background-color: blueviolet;
    position: absolute;
    top: 0px;
     backface-visibility: hidden;
     background-image: url("./invitation.jpg");
     background-size: 100% 100%;
}
.back{
    width: 300px;
    height: 500px;
    background-color: rgb(43, 226, 73);
     position: absolute;
    top: 0px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
     background-image: url("./invitation.jpg");
     background-size: 100% 100%;
}
.circle{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 228, 196, 0.598);
    border-radius: 50%;
    position: absolute;
    top: 170px;
    left: 50px;
    border: 3px groove goldenrod;
}