.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* justify-content: center;
    align-items: center; */
    /* gap: 100px; */
    padding-top: 30px;
    padding-bottom: 35px;
}
.options{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 40px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(128, 128, 128, 0.137);
}
.text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 550px;
    justify-content: space-around;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    width: 100%;
   margin-top: 7px;
   padding-top: 50px;
}
