.parent{
    /* width: 500px;
     height: 500px; */
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: start; */
}
.child1, .child2, .child3, .child4, .child5, .child6{
    width: 200px;
    height: 200px;
}
.child1{
    background-color: red;
}
.child2{
    background-color: rgb(7, 215, 48);
}
.child3{
    background-color: rgb(24, 21, 216);
}
.child4{
    background-color: rgb(14, 204, 221);
}
.child5{
    background-color: rgb(215, 7, 201);
}
.child6{
    background-color: rgb(216, 206, 21);
}