
    width: 100px;
    height: 100px;
    background-color: orange;
    position: relative;
    top: 20px;
    right: 0px;
}
.p3{
    width: 100%;
    height: 300px;
    background-color: aqua;
}
.c2{.p1{
    width: 100%;
    height: 300px;
    background-color: blueviolet;
}
.p2{
    width: 100%;
    height: 300px;
    background-color: greenyellow;
}
.c1{
    width: 100px;
    height: 100px;
    background-color: orange;
    position: relative;
    bottom:-80px;
    right: -80px;
}