.para1{
    text-decoration-line: underline;
}
.para2{
    text-decoration-line: overline;
}
.para3{
    text-decoration-line: line-through;
}
.para4{
    text-decoration-line: underline overline line-through;
}
.para5{
    text-decoration-line: underline;
    text-decoration-color: red;
}
.para6{
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.para7{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
.para8{
    text-decoration-line: underline;
    text-decoration-style: dashed;
}
.para9{
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 5px;
}
.para10{
    text-decoration: underline dashed 5px violet;
    color: red;
}
